<div class="main-content">

  <div class="modal-window modal fade" id="popUpOptionForm" role="dialog" aria-labelledby="Modal_title" aria-hidden="true" [hidden]="hidden">
    <div class="modal-dialog" role="document">
      <div class="modal-content container-fluid">

        <div class="card card-plain">
          <div class="">

            <div class="card-header modal-header" data-background-color="red">
              <div class="row">
                <div class="col-md-8">
                  <h3 class="title modal-title">Agregar opciones</h3>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>

            <form [formGroup]="form" (ngSubmit)="addOption(form.value)">
              <div class="">
                <div class="modal-body">

                  <div class="row">



                      <div class="form-group label-floating">
                        <label class="control-label">Contract name</label>
                        <input type="text" class="form-control" id="contract_name" formControlName="contract_name">
                      </div>

                  </div>


                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group label-floating">
                        <label class="control-label">Strike price</label>
                        <input type="number" step="any" class="form-control" id="strike_price" formControlName="strike_price">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group label-floating">
                        <label class="control-label">Bid price</label>
                        <input type="number" step="any" class="form-control" id="bid_price" formControlName="bid_price">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group label-floating">
                        <label class="control-label">Ask price</label>
                        <input type="number" step="any" class="form-control" id="ask_price" formControlName="ask_price">
                      </div>
                    </div>
                  </div>


                  <div class="row">

                    <div class="col-md-6">
                      <select class="selectpicker" formControlName="type">
                        <option [ngValue]="true">Put</option>
                        <option [ngValue]="false">Call</option>
                      </select>
                    </div>

                    <div class="col-md-6">
                      <select class="selectpicker" formControlName="region">
                        <option [ngValue]="true">Europea</option>
                        <option [ngValue]="false">Americana</option>
                      </select>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-2">
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="control-label">Expire date</label>
                        <input type="date" class="form-control" id="expire_date" formControlName="expire_date">
                      </div>
                    </div>
                  </div>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" [disabled]=!form.valid>Save changes</button>
                </div>


              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-window modal fade" id="popUpOptionEdit" role="dialog" aria-labelledby="Modal_title" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content container-fluid">

        <div class="card card-plain">
          <div class="">

            <div class="card-header modal-header" data-background-color="red">
              <div class="row">
                <div class="col-md-8">
                  <h3 class="title modal-title">Editar opciones</h3>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-1">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <div class="col-md-1">
                </div>
              </div>
            </div>

            <form> <!--[formGroup]="form2" (ngSubmit)="updateOption(form2.value)" > <!--[formGroup]="form2">-->
              <div class="">
                <div class="modal-body">

                  <div class="row">


                    <div class="col-md-6">
                      <div class="form-group label-floating" id="edit_contract_name_label">
                        <label class="control-label">Contract name</label>
                        <input type="text" class="form-control"  formControlName="contract_name" id="edit_contract_name">
                      </div>
                    </div>


                    <div class="col-md-6">
                      <select class="selectpicker" id="edit_region" >
                        <option [ngValue]="false">Americana</option>
                        <option [ngValue]="true">Europea</option>
                      </select>
                    </div>

                  </div>


                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group label-floating" id="edit_strike_price_label">
                        <label class="control-label">Strike price</label>
                        <input type="number" step="any" class="form-control" formControlName="strike_price" id="edit_strike_price">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group label-floating" id="edit_bid_price_label">
                        <label class="control-label">Bid price</label>
                        <input type="number" step="any" class="form-control"  formControlName="bid_price"  id="edit_bid_price">
                      </div>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group label-floating" id="edit_ask_price_label">
                        <label class="control-label">Ask price</label>
                        <input type="number" step="any" class="form-control" formControlName="ask_price"  id="edit_ask_price">
                      </div>
                    </div>
                  </div>


                  <div class="row">

                    <div class="col-md-6">
                      <select class="selectpicker"  id="edit_type" >
                        <option [ngValue]="false">Call</option>
                        <option [ngValue]="true">Put</option>
                      </select>
                    </div>

                    <div class="col-md-6">
                      <select class="selectpicker" id="edit_to" >
                        <option [ngValue]="false">Buy</option>
                        <option [ngValue]="true">Sell</option>
                      </select>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-2">
                    </div>

                    <div class="col-md-4">
                      <div class="form-group label-floating"  id="edit_date_label">
                        <label class="control-label">Expire date</label>
                        <input type="date" class="form-control" formControlName="expire_date" id="edit_date">
                      </div>
                    </div>
                  </div>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>


              </div>
            </form>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="card card-plain" *ngIf="ready">
      <div class="card-header" data-background-color="blue">
        <div class="row">
          <div class="col-md-12">
            <h2 class="title">Tus Opciones en {{company.name}} - {{company.ticker}}</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <div class="row">
              <div class="col-md-8">
                <h3 class="title">Opciones para Vender</h3>
              </div>
              <div class="col-md-2">
                <div class="form-group form-black">
                  <label for="exampleFormControlSelect1">Tipo de Opción</label>
                  <select #selectTypeSeller class="form-control selectpicker" [value]="parameters.seller.type" (change)="change('seller', 'type', selectTypeSeller.value)">
                    <option>Put</option>
                    <option>Call</option>
                  </select>
                  <select #selectRegionSeller class="form-control selectpicker" [value]="parameters.seller.region" (change)="change('seller', 'calculation', selectRegionSeller.value)">
                    <option>Europea</option>
                    <option>Americana</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <button type="button" (click)="to = 'sell'" class="btn btn-primary"  data-toggle="modal" data-modal="popUpOptionForm" data-target="#popUpOptionForm">
                  Añadir Opción
                </button>
              </div>
            </div>
          </div>

          <app-option-list [company]="company" [parameters]="parameters.seller" #sellerList (optionEvent)="receiveOption($event)"></app-option-list>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <div class="row">
              <div class="col-md-8">
                <h3 class="title">Opciones para Comprar</h3>
              </div>
              <div class="col-md-2">
                <div class="form-group form-black">
                  <label for="exampleFormControlSelect1">Tipo de Opción</label>
                  <select #selectTypeBuyer class="form-control selectpicker" [value]="parameters.buyer.type" (change)="change('buyer', 'type', selectTypeBuyer.value)">
                    <option>Put</option>
                    <option>Call</option>
                  </select>
                  <select #selectRegionBuyer class="form-control selectpicker" [value]="parameters.buyer.region" (change)="change('buyer', 'region', selectRegionBuyer.value)">
                    <option>Europea</option>
                    <option>Americana</option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <button type="button" (click)="to = 'buy'" class="btn btn-primary" data-toggle="modal" data-target="#popUpOptionForm">
                  Añadir Opción
                </button>
              </div>
            </div>
          </div>
          <app-option-list [company]="company" [parameters]="parameters.buyer" #buyerList (optionEvent)="receiveOption($event)" ></app-option-list>
        </div>
      </div>
    </div>
  </div>
</div>
