
<div class="card">
    <div class="card-header" data-background-color="green">
        <h1>Acciones</h1>
    </div>
    <div class="card-content">
        <h4 class="title">Acciones en los ultimos 30 días laborales.</h4>
        <div #chart>
            <!-- Chart will appear here -->
        </div>
        <!--<p class="category">
            <span class="text-success">
                <i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>-->
    </div>
    <!--<div class="card-footer">
        <div class="stats">
            <i class="material-icons">access_time</i> updated 4 minutes ago
        </div>
    </div>-->
</div>