

<h2 *ngIf="!show"> No hay datos</h2>
<div *ngIf="show" class="card-content table-responsive">
  <table class="table">
    <thead class="text-danger">
      <tr>
        <th>Calcular</th>
        <th>Nombre</th>
        <th>Strike</th>
        <th>Bid</th>
        <th>Ask</th>
        <th>Fecha de expiración</th>
        <th>pricing</th>
        <th>Editar/Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let option of (options | filter : _parameters)">
        <td>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="optionsCheckboxes" [(ngModel)]="option.select">
              </label>
            </div>
        </td>
        <td>{{option.contract_name}}</td>
        <td>{{option.strike_price}}</td>
        <td>{{option.bid_price}}</td>
        <td>{{option.ask_price}}</td>
        <td>{{option.expire_date}}</td>
        <td class="text-danger">{{option.pricing}}</td>
        <td>
          <button type="button" (click)="sendOption(option)" rel="tooltip" title="Editar Opción" data-toggle="modal" data-modal="popUpOptionEdit" data-target="#popUpOptionEdit"  class="btn btn-warning btn-simple btn-xs">
            <i class="material-icons">edit</i>
          </button>
          <button type="button" rel="tooltip" title="Eliminar Opción" (click)="deleteOption(option)" class="btn btn-danger btn-simple btn-xs">
            <i class="material-icons">close</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <form [formGroup]="form" (ngSubmit)="calculate(form.value)">
    <div class="row">
      <div class="col-md-6">
          <div class="form-group form-black label-floating is-empty">
              <label class="control-label">Delay</label>
              <input type="number" class="form-control" formControlName="delay">
          </div>
      </div>
      <div class="col-md-6">
          <div class="form-group form-black label-floating is-empty">
              <label class="control-label">Grado de Discretización</label>
              <input type="number" class="form-control" formControlName="disc">
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group form-black label-floating is-empty">
            <label class="control-label">N° de Simulaciones</label>
            <input type="number" class="form-control" formControlName="simu">
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group form-black label-floating is-empty">
          <label class="control-label">Tasa libre de riesgo</label>
          <input type="number" step="any" class="form-control" formControlName="free_rate">
        </div>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-info" [disabled]=!form.valid>
          Calcular
        </button>
      </div>
    </div>
  </form>
</div>


