
<div class="modal fade" id="popUpOptionEdit" role="dialog" aria-labelledby="Modal_title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content container-fluid">

      <div class="card card-plain">
        <div class="">

          <div class="card-header modal-header" data-background-color="red">
            <div class="row">
              <div class="col-md-8">
                <h3 class="title modal-title">Agregar opciones</h3>
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>

          <form >
            <div class="">
              <div class="modal-body">

                <div class="row">


                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label">Contract name</label>
                      <input type="text" class="form-control" id="contract_name">
                    </div>
                  </div>


                  <div class="col-md-6">
                    <select class="selectpicker">
                      <option [ngValue]="true">Europea</option>
                      <option [ngValue]="false">Americana</option>
                    </select>
                  </div>

                </div>


                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group label-floating">
                      <label class="control-label">Strike price</label>
                      <input type="number" step="any" class="form-control" id="strike_price" >
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group label-floating">
                      <label class="control-label">Bid price</label>
                      <input type="number" step="any" class="form-control" id="bid_price" >
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="form-group label-floating">
                      <label class="control-label">Ask price</label>
                      <input type="number" step="any" class="form-control" id="ask_price">
                    </div>
                  </div>
                </div>


                <div class="row">

                  <div class="col-md-6">
                    <select class="selectpicker" >
                      <option [ngValue]="true">Put</option>
                      <option [ngValue]="false">Call</option>
                    </select>
                  </div>

                  <div class="col-md-6">
                    <select class="selectpicker" >
                      <option [ngValue]="false">Buy</option>
                      <option [ngValue]="true">Sell</option>
                    </select>
                  </div>

                </div>

                <div class="row">

                  <div class="col-md-2">
                  </div>

                  <div class="col-md-4">
                    <div class="form-group">
                      <label class="control-label">Expire date</label>
                      <input type="date" class="form-control" id="expire_date">
                    </div>
                  </div>
                </div>


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>


            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>

<h2 *ngIf="!show"> No hay datos</h2>
<div *ngIf="show" class="card-content table-responsive">
  <table class="table">
    <thead class="text-danger">
      <tr>
        <th>Calcular</th>
        <th>Nombre</th>
        <th>Strike</th>
        <th>Bid</th>
        <th>Ask</th>
        <th>Fecha de expiración</th>
        <th>pricing</th>
        <th>Editar/Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let option of options">
        <td>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="optionsCheckboxes">
              </label>
            </div>
        </td>
        <td>{{option.contract_name}}</td>
        <td>{{option.strike_price}}</td>
        <td>{{option.bid_price}}</td>
        <td>{{option.ask_price}}</td>
        <td>{{option.expire_date}}</td>
        <td class="text-danger">{{option.pricing}}</td>
        <td>
          <button type="button" rel="tooltip" title="Editar Opción" data-target="#popUpOptionEdit"  class="btn btn-warning btn-simple btn-xs">
            <i class="material-icons">edit</i>
          </button>
          <button type="button" rel="tooltip" title="Eliminar Opción" (click)="deleteOption(option)" class="btn btn-danger btn-simple btn-xs">
            <i class="material-icons">close</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>