

<h2 *ngIf="!show"> No hay datos</h2>
<div *ngIf="show" class="card-content table-responsive">
  <table class="table">
    <thead class="text-danger">
      <tr>
        <th>Calcular</th>
        <th>Nombre</th>
        <th>Strike</th>
        <th>Bid</th>
        <th>Ask</th>
        <th>Fecha de expiración</th>
        <th>pricing</th>
        <th>Editar/Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let option of options">
        <td>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="optionsCheckboxes">
              </label>
            </div>
        </td>
        <td>{{option.contract_name}}</td>
        <td>{{option.strike_price}}</td>
        <td>{{option.bid_price}}</td>
        <td>{{option.ask_price}}</td>
        <td>{{option.expire_date}}</td>
        <td class="text-danger">{{option.pricing}}</td>
        <td>
          <button type="button" rel="tooltip" title="Editar Opción" data-toggle="modal" data-modal="popUpOptionEdit" data-target="#popUpOptionEdit"  class="btn btn-warning btn-simple btn-xs">
            <i class="material-icons">edit</i>
          </button>
          <button type="button" rel="tooltip" title="Eliminar Opción" (click)="deleteOption(option)" class="btn btn-danger btn-simple btn-xs">
            <i class="material-icons">close</i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
