<div class="card">
  <div class="card-header" data-background-color="red">
    <h4 class="title">Añadir Lista para</h4>
    <p class="category">Añade una lista de opciones para una empresa</p>
  </div>
  <div class="card-content">
    <form #listOptionsForm="ngForm">

      <div class="row">
        <div class="col-md-12">
          <div class="form-group form-black label-floating is-empty">
            <label class="control-label">Empresa</label>
            <input required ngModel name="companyName" id="companyName" #companyName="ngModel" type="text" class="form-control" >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group form-black label-floating is-empty">
            <label class="control-label">Ticker</label>
            <input required ngModel name="companyTicker" id="companyTicker" #companyTicker="ngModel" type="text" class="form-control" >
          </div>
        </div>
      </div>

      <button [disabled]="!listOptionsForm.form.valid" type="submit" class="btn btn-danger pull-right" (click)="newOptionList(companyName.value, companyTicker.value)">Añadir</button>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
